<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="MySql" connectionString="Server=localhost;Port=3306;Database=rentstuff;Uid=yJTjA11vxJiX6GdUX7aaZ0Ywmf8k3Ix/0nXTf8lHjTWjkOgjet+oBeKE7kS5O6tOrDi+dWAjJHK3bq2wllftAd4c2DpKaIBtlwhuN5pFAiu5djWm3XfIRXGfRAQy+Qmj;Password=2OZyJEKI4nb/kKBcurkE3BY5hwvRWmJgjTK5HkeY37ao4LGwNIXdFvVgbAbN4QhqBLXcNRrVZqvcov3l/aQvyWcaf2ZvMGODdr+Vf4EEmyogzz6emDYKmWS7C42ORHSc;" />-->
    <add name="MySql" connectionString="Server=localhost;Port=3306;Database=rentstuff;Uid=8a9GeVNnKVW5P7Pixa6PeiYG2gxL7SpG1VHDMM18SV4PWwwlJ2kE/okU7JA4oqLNBkkJ/2GW+RE1npr9SFZXJdQJDrsdlMl1QL28IuR6TH4X+HSG7NPicye7WV6gm3xh;Password=wGUfoxWxM39ZV004ISwdOHHLKanuGopc8Ojj7X9WNHvQRsAQQVTCf7d/YhG2xlJ0DxNKFGRRsi2+049GD3hC6VGZ6Jn5fZgPQp70zI4LeYrpLgfV/4ycOsdMs0IGQyYF;" />
    <!--<add name="AuthContext" connectionString="server=localhost;User Id=root;password=root;Persist Security Info=True;database=rentstuff" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="GeocodingApiKey" value="AIzaSyCm75jVJuUaH8YZCs7266vhmeOh-6njxKE" />
    <add key="StringDecipherPassphrase" value="1234NoBodyhasEverOutperformedHBK5678!" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>